<h1>Blog Pages</h1>

<%
=begin%>
 
<%= @pages.first.title %>

<% grade = 64 %>

<% if grade > 60 %>
  You passed!
<% end %> 

<% 4.times do |index| %>
  <p><%=index %> Hello</p>
<% end %>

 
<%
=end%>


<%
=begin%>
 
<% @pages.each do |page| %>
  <p><%= page.title %></p>
<% end %> 

 
<%
=end%>

<%
=begin%>
 
<% @pages.each do |page| %>
  <p><%= link_to page.title, "/pages/#{page.id}" %></p> 
<% end %> 
 
<%
=end%>


<% @pages.each do |page| %>
  <p><%= link_to page.title, page %></p> 
<% end %> 

<%= link_to "New Page", new_page_path %>
